<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket number:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>Ticket owner:</strong>
  <%= @ticket.owner %>
</p>

<p>
  <strong>First Station:</strong>
  <% if @ticket.first_station.present?%>
    <%= @ticket.first_station.title %>
  <% else %>
    Not indicated
  <% end %>
</p>

<p>
  <strong>Last Station:</strong>
  <% if @ticket.last_station.present?%>
      <%= @ticket.last_station.title %>
  <% else %>
      Not indicated
  <% end %>
</p>



<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
