<%= form_for(@wagon) do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
      <strong><%= f.label :train_id, "Train for connection" %></strong>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <strong><%= f.label :wagon_type, 'Wagon type:' %></strong>
      <%= f.select :wagon_type, [['first_class'], ['second_class']] %>
    </div>

    <div class="field">
      <strong><%= f.label :top_place, "Amount TopPlace" %></strong>
      <%= f.text_field :top_place %>
    </div>

    <div class="field">
      <strong><%= f.label :bottom_place, "Amount BottomPlace" %></strong>
      <%= f.text_field :bottom_place %>
    </div>


    <div class="actions">
      <%= f.submit "#{ @wagon.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
