<h1>Вагон № <%= @wagon.number %></h1>

<p>
  Поезд <%= @wagon.train.number %></h1>
</p>

<p>
  Верхние места <%= @wagon.top_place %></h1>
</p>

<p>
  Нижние места <%= @wagon.bottom_place %></h1>
</p>

<p>
  Боковые верхние места <%= @wagon.side_top_place %></h1>
</p>

<p>
  Боковые нижние места <%= @wagon.side_bottom_place %></h1>
</p>

<p>
  Сидячие места <%= @wagon.seat_place %></h1>
</p>

<%= link_to "Назад", @wagon.train %>

