<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Trains on route:</strong>
  <% if @route.trains.empty?%>
      Not indicated
  <% else %>
      <ul>
        <% @route.trains.each do |train|%>
        <li><%= train.number %> </li>
            <% end %>
      </ul>
  <% end %>
</p>

<p>
  <strong>Stations on route:</strong>
  <% if @route.railway_stations.empty?%>
      Not indicated
  <% else %>
    <ul>
      <% @route.railway_stations.each do |station|%>
          <li><%= station.title %> </li>
      <% end %>
    </ul>
<% end %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
